parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false

    paths:
        - config
        - src
        - tests
        - rules
        - rules-tests

    # https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    unused_public:
        constants: true
        methods: true
        properties: true

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - */Fixture/*
        - */Fixture*/*

    ignoreErrors:
        # pointless check
        - '#expects class-string, string given#'

        - '#Calling PHPStan\\Reflection\\Php\\PhpParameterReflection\:\:getName\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'

        # false positive
        - '#Access to an undefined property Rector\\Core\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'
        - '#but class PhpParser\\Node\\Stmt\\Expression is not generic#'
        - '#Access to an undefined property Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        # false positive
        - '#Parameters should have "PhpParser\\Node\\Expr\\Closure" types as the only types passed to this method#'
        - '#Parameter 1 should use "PHPStan\\BetterReflection\\Reflection\\Adapter\\ReflectionMethod" type as the only type passed to this method#'
        - '#Parameter \#1 \$stmtsAware of method Rector\\NodeAnalyzer\\TerminatedNodeAnalyzer\:\:isAlwaysTerminated\(\) expects Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface, PhpParser\\Node\\Stmt\\ClassMethod given#'
