parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false

    paths:
        - config
        - src
        - tests
        - rules
        - rules-tests

    # https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - */Fixture/*
        - */Fixture*/*

    ignoreErrors:
        # pointless check
        - '#expects class-string, string given#'

        - '#Calling PHPStan\\Reflection\\Php\\PhpParameterReflection\:\:getName\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'

        # false positive
        - '#Access to an undefined property Rector\\Core\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'
        - '#but class PhpParser\\Node\\Stmt\\Expression is not generic#'

        - '#Access to an undefined property Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'
