# @todo enable
#includes:
#    - vendor/symplify/phpstan-rules/config/symplify-rules.neon
#    - vendor/symplify/phpstan-rules/config/rector-rules.neon

rules:
    - Symplify\PHPStanRules\Rules\StringFileAbsolutePathExistsRule

parameters:
    level: 8
    errorFormat: symplify

    # see https://phpstan.org/writing-php-code/phpdoc-types#global-type-aliases
    typeAliases:
        StmtsAware: \PhpParser\Node\Stmt\Block | \PhpParser\Node\Expr\Closure | \PhpParser\Node\Stmt\Case_ | \PhpParser\Node\Stmt\Catch_ | \PhpParser\Node\Stmt\ClassMethod | \PhpParser\Node\Stmt\Do_ | \PhpParser\Node\Stmt\Else_ | \PhpParser\Node\Stmt\ElseIf_ | \PhpParser\Node\Stmt\Finally_ | \PhpParser\Node\Stmt\For_ | \PhpParser\Node\Stmt\Foreach_ | \PhpParser\Node\Stmt\Function_ | \PhpParser\Node\Stmt\If_ | \PhpParser\Node\Stmt\Namespace_ | \PhpParser\Node\Stmt\TryCatch | \PhpParser\Node\Stmt\While_ | \Rector\PhpParser\Node\FileNode

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    paths:
        - config
        - src
        - tests
        - rules
        - rules-tests

    # https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    unused_public:
        constants: true
        methods: true
        properties: true

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - */Fixture/*
        - */Fixture*/*

    ignoreErrors:
        # pointless check
        - '#expects class-string, string given#'

        # false positive
        - '#but class PhpParser\\Node\\Stmt\\Expression is not generic#'
        - '#Access to an undefined property Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        # more advanced usage, but not always working
        # see https://github.com/rectorphp/rector-src/actions/runs/11798721617/job/32865546672?pr=6422#step:5:110
        - '#Doing instanceof PHPStan\\Type\\.+ is error\-prone and deprecated#'

        # phpstan instanceof
        - identifier: argument.type
        - identifier: assign.propertyType

        # false postitive
        -
            identifier: typePerfect.narrowPublicClassMethodParamType
            paths:
                - src/NodeAnalyzer/SymfonyPhpClosureDetector.php
                - rules/Configs/NodeDecorator/ServiceDefaultsCallClosureDecorator.php

        - '#Parameter 1 should use "PHPStan\\BetterReflection\\Reflection\\Adapter\\ReflectionMethod" type as the only type passed to this method#'

        # local use php 8.3
        - identifier: typeCoverage.constantTypeCoverage

        # in tests
        -
            message: '#Fetching deprecated class constant SYMFONY_\d+ of class Rector\\Symfony\\Set\\SymfonySetList#'
            path: tests

