name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - main

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'Active Classes'
                        run: vendor/bin/class-leak check config src rules --ansi --skip-suffix "Rector" --skip-type "\Rector\Set\Contract\SetProviderInterface"

                    -
                        name: "Finalize Classes"
                        run: vendor/bin/swiss-knife finalize config src tests rules rules-tests --ansi

                    -
                        name: 'Composer Validate'
                        run: composer validate

                    -
                        name: 'PHPStan'
                        run: vendor/bin/phpstan

                    -
                        name: 'Tests'
                        run: vendor/bin/phpunit

        name: ${{ matrix.actions.name }}

        runs-on: ubuntu-latest

        timeout-minutes: 5

        steps:
            -   uses: actions/checkout@v4

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3
                    coverage: none

            -   uses: "ramsey/composer-install@v2"
            -   run: ${{ matrix.actions.run }}
